html {
    background-color: black;
    color: lightgray;
}

a {
    color: lightgray;
}

/* Navigation */

nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav li {
    display: inline-flex;
    margin: 0 1rem;
}

nav h2 {
    margin-left: 1rem;
}

/* About Me */

summary {
    display: inline-flex;
}

summary img {
    width: 30%;
    flex-shrink: 1;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding: 1rem 1rem;
}

#about p {
    font-size: 1.5rem;
}

/* Projects */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.project-list-1 {
    display: inline-flex;
    justify-content: center;
    margin-left: 1rem;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 1rem 1rem;
}

.project img {
    object-fit: contain;
    height: auto;
    flex-shrink: 1;
    width: 100%;
    aspect-ratio: 1 / 1;
}

button {
    font-size: 4rem;
    background-color: black;
    color: white;
    border: black;
}

button:hover {
    color: blue;
}

.project-list-2 {
    display: none;
    justify-content: center;
    padding-right: 4.6rem;
}

#next {
    margin-left: 3rem;
}

#back {
    margin-right: 3rem;
}

/* Skills */

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.skill-images {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.skill-images img {
    aspect-ratio: 1 / 1;
    width: 5%;
    flex-shrink: 1;
    object-fit: contain;
    margin-right: 1rem;
}

@media only screen and (max-width: 420px) {
    
    html {
        font-size: 12px;
    }
    
    button {
        display: none;
    }

    .project-list-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    summary img {
        display: none;
    }

    nav li {
        margin-bottom: 1rem;
    }
}